<!-- templates/posts/index.html -->
{% load static %}

<!DOCTYPE html> 
<html lang="ru">
  <head>
    <meta charset="URF-8">
    <title>MyBiogen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="main-header">
          <div class="row">
            <div class="col-md-3 col-s-12">
              <div class="logo">
                <img src="{% static 'img/Logo.png' %}" width="210" height="40" alt="Logo_MyBiogen">
              </div>
            </div>
            <div class="col-md-9 col-s-12">
              <nav>
                <ul class="menu d-flex justify-content-between">
                  <li class="menu__item">
                    <a href="#about">О бренде</a>
                  </li>
                  <li class="menu__item">
                    <a href="#products">Продукция</a>
                  </li>
                  <li class="menu__item">
                    <a href="#contacts">Контакты</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section class="ofer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <img id="ofer" src="{% static 'img/Slogan1.png' %}" alt="Slogan_MyBiogen">
          </div>
        </div>
      </div>
    </section>

    <section class="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-7">
            <div class="about_text">
              <h1 id="about">Бренд MYBIOGEN</h1>
              <p>
                В 2022 году благодаря коллаборации американской лаборатории Biogenesis Lab с российской
                компанией «Фармацевтикал Косметик Рус» – эксклюзивным дистрибьютором продукции
                лаборатории в России, удалось создать бренд «интеллектуального» домашнего ухода за кожей</p>
              <h1>MYBIOGEN By Biogenesis Lab</h1>
            </div>
            <div class="more bat">
              <button type="button" id="open-about">Подробнее</button>
            </div>
          </div>

          <div class="col-lg-4 col-md-5">
            <div class="three-js">
              <div id="CanvasFrame" class="CanvasFrame"></div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="DNA_text">
              <p align="center">
                Для воздействия на структуру ДНК применяется три механизма, которые
                обеспечивают полномасштабную регенерацию дезоксирибонуклеиновой кислоты:
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <ul class="steps d-flex justify-content-between" >
              <li class="step">
                <img src="{% static 'img/Pre_But.png' %}" alt="Pre_But">
              </li>
              <li class="plus">
                <p>+</p>
              </li>
              <li class="step">
                <img src="{% static 'img/En_But.png' %}" alt="En_But">
              </li>
              <li class="plus">
                <p>+</p>
              </li>
              <li class="step">
                <img src="{% static 'img/Kat_But.png' %}" alt="Kat_But">
              </li>
            </ul>

            <ul class="stepsS">
              <li class="stepS">
                <img src="{% static 'img/Pre_But.png' %}" alt="Pre_But">
              </li>
              <li class="stepS">
                <img src="{% static 'img/En_But.png' %}" alt="En_But">
              </li>
              <li class="stepS">
                <img src="{% static 'img/Kat_But.png' %}" alt="Kat_But">
              </li>
            </ul>

          </div>
        </div>
      </div>
    </section>

    <section class="products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="carusel_preview_text">
              <h1 id="products" align="center">Продукция MYBIOGEN</h1>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="swiper mySwiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="flip-container">
                    <div class="flip">
          
                      <div class="front">
                        <div class="img-container"><img src="{% static 'img/card_1.png' %}" alt="card_1_MyBiogen" /></div>
                      </div>
          
                      <div class="back">

                        <div class="back-content">

                          <h1><span class="green">Cleansing Foam </span>MD
                            Очищающая пенка для лица MD</h1>

                          <p class="card__about"> Три формы гиалуроновой кислоты
                            22 растительных экстракта
                            Бережное очищение кожи</p>

                          <ul>
                            <li class="components">Действующие компоненты:</li>
                            <li>- 3 формы гиалуроновой кислоты</li>
                            <li>- Терпеноиды растения Monarda Didyma, экстракты
                              лаванды и гиацинта восточного</li>
                            <li>- Экстракты бораго, шалфея и ромашки</li>
                            <li>- Экстракты дикого ямса, розмарина, примулы
                              вечерней и пиона</li>
                          </ul>

                          <a href="#card_1_win">Подробнее</a>

                        </div>
                      </div>
          
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="flip-container">
                    <div class="flip">
          
                      <div class="front">
                        <div class="img-container"><img src="{% static 'img/card_2.png' %}" alt="card_2_MyBiogen" /></div>
                      </div>
          
                      <div class="back">

                        <div class="back-content">

                          <h1><span class="green">Cleansing Gel </span>MGR
                            Очищающий гель-гоммаж для лица MGR</h1>

                          <p class="card__about">Тающая текстура
                            Глубокое очищение
                            Пролонгированное увлажнение
                            Шёлковая кожа</p>

                          <ul>
                            <li class="components">Действующие компоненты:</li>
                            <li>- Гиалуронат натрия</li>
                            <li>- Гидроксиэтилмочевина</li>
                            <li>- Молочная кислота</li>
                            <li>- Натуральное эфирное масло грейпфрута</li>
                            <li>- Экстракт ромашки лекарственной</li>
                            <li>- Водорастворимое касторовое масло</li>
                          </ul>

                          <a href="#card_2_win">Подробнее</a>

                        </div>
                      </div>
          
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="flip-container">
                    <div class="flip">
          
                      <div class="front">
                        <div class="img-container"><img src="{% static 'img/card_3.png' %}" alt="card_3_MyBiogen" /></div>
                      </div>
          
                      <div class="back">

                        <div class="back-content">

                          <h1><span class="green">Face Serum </span>Stress Control
                           Увлажняющая сыворотка для лица Stress Control</h1>

                          <p class="card__about">Система удержания влаги в коже
                            Устраняет красноту и отечность
                            Ускоряет заживление </p>

                          <ul>
                            <li class="components">Действующие компоненты:</li>
                            <li>- Гиалуронат натрия</li>
                            <li>- Альгин </li>
                            <li>- Palmitoyl Tripeptide-8 </li>
                            <li>- Экстракты водяной лилии, хмеля, мелиссы, алоэ
                              и розмарина </li>
                            <li>- Бета-глюкан </li>
                          </ul>

                          <a href="#card_3_win">Подробнее</a>

                        </div>
                      </div>
          
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="flip-container">
                    <div class="flip">
          
                      <div class="front">
                        <div class="img-container"><img src="{% static 'img/card_4.png' %}" alt="card_4_MyBiogen" /></div>
                      </div>
          
                      <div class="back">

                        <div class="back-content">

                          <h1><span class="red">Face Serum </span>DNA Wellness
                            Пептидная сыворотка для лица DNA Wellness</h1>

                          <p class="card__about">Мультипептидный комплекс
                            Восстановление ДНК и структурной целостности кожи
                            Уплотнение и увлажнение кожи </p>

                          <ul>
                            <li class="components">Действующие компоненты:</li>
                            <li>- Ниацинамид</li>
                            <li>- Аденозин</li>
                            <li>- Acetyl Hexapeptide-8</li>
                            <li>- sh-Oligopeptide-1</li>
                            <li>- sh-Oligopeptide-2, sh-Decapeptide-9, sh-Octapeptide-4,
                              Pentapeptide-37, sh-Polypeptide-4, sh-Polypeptide-11 –</li>
                          </ul>

                          <a href="#card_4_win">Подробнее</a>

                        </div>
                      </div>
          
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="flip-container">
                    <div class="flip">
          
                      <div class="front">
                        <div class="img-container"><img src="{% static 'img/card_5.png' %}" alt="card_5_MyBiogen" /></div>
                      </div>
          
                      <div class="back">

                        <div class="back-content">

                          <h1><span class="green">Face Cream </span>BASE
                            Увлажняющий крем для лица BASE</h1>

                          <p class="card__about">8 незаменимых для кожи аминокислот
                            8 растительных экстрактов
                            Защищает от агрессии внешней среды
                             Идеальная основа под макияж </p>

                          <ul>
                            <li class="components">Действующие компоненты:</li>
                            <li>- Комплекс из 8 растительных экстрактов
                              (алоэ, корня солодки, фенхеля, хмеля, мелиссы, омелы,
                              ромашки) и аллантоин</li>
                            <li>- Palmitoyl Tripeptide-8</li>
                            <li>- Гиалуронат натрия</li>
                          </ul>

                          <a href="#card_5_win">Подробнее</a>

                        </div>
                      </div>
          
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="flip-container">
                    <div class="flip">
          
                      <div class="front">
                        <div class="img-container"><img src="{% static 'img/card_6.png' %}" alt="card_6_MyBiogen" /></div>
                      </div>
          
                      <div class="back">

                        <div class="back-content">

                          <h1><span class="red">Face Cream </span>DNA Repair
                            Anti-age крем для лица DNA Repair</h1>

                          <p class="card__about">9 незаменимых для кожи аминокислот
                            2 коллагенобразующих пептида
                            Интенсивное омоложение
                            Восстановление ДНК и структурной
                            целостности кожи </p>

                          <ul>
                            <li class="components">Действующие компоненты:</li>
                            <li>- Adenosine Triphosphate</li>
                            <li>- Глицин, Аланин, Пролин, Серин, Треонин, Аргинин, Лизин,
                              Глутаминовая кислота, Ацетилтирозин и Гидролизованный
                              белок</li>
                            <li>- Palmitoyl Oligopeptide и Palmitoyl Tetrapeptide-7</li>
                          </ul>

                          <a href="#card_6_win">Подробнее</a>

                        </div>
                      </div>
          
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="flip-container">
                    <div class="flip">
          
                      <div class="front">
                        <div class="img-container"><img src="{% static 'img/card_7.png' %}" alt="card_7_MyBiogen" /></div>
                      </div>
          
                      <div class="back">

                        <div class="back-content">

                          <h1><span class="green">Face Cream </span>MultiLamellar
                            Питательный крем для лица MultiLamellar</h1>

                          <p class="card__about">Аминокислоты, пептиды
                            и растительные экстракты
                            Эффект «второй кожи»
                            Ботулоподобное действие </p>

                          <ul>
                            <li class="components">Действующие компоненты:</li>
                            <li>- 6 необходимых функциональных пептидов:
                              Carnosine</li>
                            <li>- Glutathione</li>
                            <li>- Copper Tripeptide-1</li>
                            <li>- Acetyl Hexapeptide-8</li>
                            <li>- Аллантоин </li>
                          </ul>

                          <a href="#card_7_win">Подробнее</a>

                        </div>
                      </div>
          
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="flip-container">
                    <div class="flip">
          
                      <div class="front">
                        <div class="img-container"><img src="{% static 'img/card_8.png' %}" alt="card_8_MyBiogen" /></div>
                      </div>
          
                      <div class="back">

                        <div class="back-content">

                          <h1><span class="green">Eye Cream </span>Cold Coffee
                            Крем для кожи вокруг глаз Cold Coffee</h1>

                          <p class="card__about">Кофеин
                            6 необходимых функциональных пептидов
                            «Сенсорный» крем
                            Устраняет отечность и темные круги под
                            глазами </p>

                          <ul>
                            <li class="components">Действующие компоненты:</li>
                            <li>- Кофеин</li>
                            <li>- Acetyl Hexapeptide-8 </li>
                            <li>- Carnosine</li>
                            <li>- Glutathione</li>
                            <li>- Copper Tripeptide-1</li>
                          </ul>

                          <a href="#card_8_win">Подробнее</a>

                        </div>
                      </div>
          
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="pagination-container">
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>

      </div>
    </section>

    <section class="communication">
      <div class="container form-container">

        <div class="row">
          <div class="col=md-12">
            <div class="form-text">
              <h1 id="contacts">Связаться с нами</hi>
            </div>
          </div>
        </div>

        <form action="http://127.0.0.1:8000/form/" method="post">
          <div class="row fields">

            <div class="col-sm-4">
              <div class="field"> <input type="text" name="username" placeholder="Ваше имя" /> </div>
            </div>

            <div class="col-sm-4">
              <div class="field"> <input type="email" name="email" required placeholder="Ваш email" /> </div>
            </div>

            <div class="col-sm-4">
              <div class="field"> <input type="tel" name="tel" placeholder="Ваш телефон" /> </div>
            </div>

          </div>

          <div class="user-question">
            <textarea name="text" required placeholder="Задайте вопрос"></textarea>
          </div>

          <div class="row">

            <div class="col-sm-6 bat form-button">
              <button type="submit">Отправить</button>
            </div>

            <div class="col-sm-6 bat form-button">
              <button type="button" id="download">Скачать каталог</button>
            </div>

          </div>
        </form>

      </div>

    </section>

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="footer-text">
              <p>ООО «ФАРМАЦЕВТИКАЛ КОСМЕТИК РУС»,
                ул. Новодмитровская, д.1 с.1, офис 202.
                </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="footer-text">
              <p>+7(499)110-26-74, sale@phcos.ru
                MYBIOGEN.RU</p>
            </div>
          </div>
        </div>
      </div>
    </footer>


<!--popups-->

    <div id="about_win" class="popup">
      <div class="popup__body">
        <div class="popup__contenr">

          <a href="#ofer" class="popup__clouse">Х</a>

          <h1>Бренд MYBIOGEN</h1>
            <p>В 2022 году благодаря коллаборации американской лаборатории Biogenesis Lab с российской
              компанией «Фармацевтикал Косметик Рус» – эксклюзивным дистрибьютором продукции
              лаборатории в России, удалось создать бренд «интеллектуального» домашнего ухода за кожей
              <span class="brend">MYBIOGEN By Biogenesis Lab.</span>
            </p>
            <p>
              Американская лаборатория Biogenesis Lab является признанным во всем мире производством
              высокотехнологичных косметических препаратов.
              - Имеет свой центр научных исследований и разработок, а также 2 собственных производства
              - Продукция лаборатории представлена в 25 крупнейших странах мира
              - Более 30 лет создает профессиональные косметические бренды хорошо известные во всем мире
              Одним из таких является дерматокосмецевтический бренд M.A.D Skincare, завоевавший широкую
              популярность в России за последние 10 лет
            </p>

            <p>
              Вся продукция создается и разрабатывается на территории США с использованием запатентованных
              ингредиентов. Готовые рецептуры (BULK) расфасовываются и упаковываются в России. Такое
              разделение помогло избежать дополнительной наценки на готовый продукт и предоставить конечному
              потребителю продукцию высокого качества по оптимальной стоимости.
            </p>

            <p>
              Кожа ежедневно подвергается негативному воздействию внешней среды, в ней происходят
              ферментативные изменения, которые разрушают целостность ее структуры. Это приводит к
              образованию морщин и её истончению.
              Ключевые изменения происходят на уровне двойной ДНК спирали в ядре каждой клетки.
              Накопительный эффект повторяющихся повреждений способствует развитию мутаций ДНК, что и
              приводит к видимым признакам старения кожи. Последними научными направлениями в сфере
              исследований ДНК являются Биохакинг и Эпигенетика.
              Биохакинг* прочно вошел в нашу жизнь, мы учимся безопасно контролировать и регулировать
              клеточные процессы на генном уровне. Эпигенетика* стремительно развивается, и на сегодняшний
              день мы успешно умеем корректировать экспрессию некоторых генов, что дает простор биохимикам
              для создания активных ингредиентов с феноменальными эффектами омоложения кожи.
            </p>

            <p>
              Для предотвращения повреждения ДНК и ускорения ее естественного восстановления, был создан
              бренд <span class="brend">MYBIOGEN By Biogenesis Lab.</span> Составы продуктов содержат ингредиенты, которые имеют
              доказанную эффективность восстановления структуры ДНК клеток.
            </p>

        </div>
      </div>
    </div>


    <div id="card_1_win" class="popup">
      <div class="popup__body">
        <div class="popup__contenr">

          <a href="#products" class="popup__clouse">Х</a>

          <h1><span class="green">Cleansing Foam </span>MD
            Очищающая пенка для лица MD, <span class="art">100 мл, арт.: 00608 </span></h1>
            <p>
              Бессульфатная крем-пенка для очищения кожи. Прекрасно удаляет излишки себума, макияж, водои жирорастворимые загрязнения, обеспечивая полноценное увлажнение кожи. 
            </p>
            <p class="brend">
              Три формы гиалуроновой кислоты
              22 растительных экстракта
              Бережное очищение кожи
            </p>

            <ul>
              <li class="brend">Действующие компоненты:</li>
              <li><span class="brend">3 формы гиалуроновой кислоты (гиалуронат
                натрия, гидролизованная гиалуроновая кислота,
                ацетилированная гиалуроновая кислота) – </span>обеспечивают комплексное, глубокое и мгновенное
                увлажнение кожи, делая ее упругой.</li>
              <li><span class="brend">Терпеноиды растения Monarda Didyma, экстракты
                лаванды и гиацинта восточного – </span>оказывают
                очищающее и заживляющее действие, уменьшают
                воспаления на коже и препятствуют их повторному
                появлению. Нормализуют микробиом кожи, помогая
                бороться с акне.</li>
              <li><span class="brend">Экстракты бораго, шалфея и ромашки – </span>обеспечивают поросуживающее и
                противовоспалительное действие, уменьшают
                красноту и отеки, стимулируют регенеративные
                процессы, улучшают тон кожи. </li>
              <li><span class="brend">Экстракты дикого ямса, розмарина, примулы
                вечерней и пиона – </span>оказывают омолаживающее
                и регенерирующее действие, улучшают
                микроциркуляцию и стимулируют синтез коллагена.</li>
            </ul>
      
            <p>
              Для любого типа кожи. Использовать утром и/или вечером.
              Идеально подходит для ежедневного удаления макияжа (включая область вокруг глаз). Готовит кожу к дальнейшему
              нанесению косметических средств.
            </p>

        </div>
      </div>
    </div>

    <div id="card_2_win" class="popup">
      <div class="popup__body">
        <div class="popup__contenr">

          <a href="#products" class="popup__clouse">Х</a>

          <h1><span class="green">Cleansing Gel </span>MGR
            Очищающий гель-гоммаж для лица MGR, <span class="art">100 мл, арт.: 00609 </span></h1>
            <p>
              Magic Gommage-Roll Cleansing Gel – cпециальный гель-гоммаж для очищения кожи на основе
              увлажняющих компонентов и растительных экстрактов. Гель не травмирует кожу, не вызывает
              раздражений и покраснений, очищает её, обеспечивая длительное увлажнение, гладкость и
              сияние. Идеально решает проблему шероховатостей, шелушений и черных точек.
            </p>
            <p class="brend">
              Тающая текстура
              Глубокое очищение
              Пролонгированное увлажнение
              Шёлковая кожа
            </p>

            <ul>
              <li class="brend">Действующие компоненты:</li>
              <li><span class="brend">Гиалуронат натрия – </span>– производное гиалуроновой
                кислоты, обладающее эффектом мгновенного
                заполнения морщин. </li>
              <li><span class="brend">Гидроксиэтилмочевина – </span>удерживает воду в
                количестве до 82% своего веса. Глубоко увлажняет
                кожу, повышает ее эластичность и гладкость. </li>
              <li><span class="brend">Молочная кислота – </span>– увлажняет кожу, способствует
                нормализации процесса естественного обновления
                кожи и улучшению ее цвета.</li>
              <li><span class="brend">Натуральное эфирное масло грейпфрута – </span>придает
                средству бодрящий аромат, заряжает энергией и
                улучшает эластичность кожи.
                </li>
              <li><span class="brend">Экстракт ромашки лекарственной – </span> уменьшает
                красноту, отеки, стимулирует регенеративные
                процессы.</li>
              <li><span class="brend">Водорастворимое касторовое масло – </span>– мягко
                очищает, питает, смягчает и увлажняет кожу, купирует
                себорейные проявления.</li>
            </ul>
      
            <p>
              Гель-гоммаж имеет кислый рН, но не требует нейтрализации, что облегчает процедуру тщательного очищения кожи в
              домашних условиях.
              Для любого типа кожи (с осторожностью при гипертрихозе).
              Использовать 1-2 раза в неделю. Благодаря особому составу геля, при его нанесении на коже формируется тающая
              текстура, которая затем скатывается и способствует устранению отмерших частичек рогового слоя, черных точек и
              шероховатостей.
            </p>

        </div>
      </div>
    </div>

    <div id="card_3_win" class="popup">
      <div class="popup__body">
        <div class="popup__contenr">

          <a href="#products" class="popup__clouse">Х</a>

          <h1><span class="green">Face Serum </span>Stress Control
            Увлажняющая сыворотка для лица Stress Control, <span class="art">30 мл, арт.: 00610 </span></h1>
            <p>
              Легкая гелевая сыворотка для глубокого увлажнения и снятия покраснений с кожи. Успокаивает
              кожу, препятствует появлению воспалительных реакций и подавляет их. Сыворотка оказывает
              комплексное восстанавливающее действие, быстро нейтрализует действие раздражающих
              факторов. Легко впитывается и не оставляет ощущения липкости.
            </p>
            <p class="brend">
              Система удержания влаги в коже
              Устраняет красноту и отечность
              Ускоряет заживление
            </p>

            <ul>
              <li class="brend">Действующие компоненты:</li>
              <li><span class="brend">Гиалуронат натрия – </span>производное гиалуроновой
                кислоты, обладающее эффектом мгновенного
                заполнения морщин.</li>
              <li><span class="brend">Альгин – </span>регенерирует и увлажняет кожу, смягчает и
                оказывает бактерицидное действие.</li>
              <li><span class="brend">Palmitoyl Tripeptide-8 – </span>пептид, нормализует порог
                чувствительности кожи, подавляет воспаления и
                уменьшает проницаемость сосудов.</li>
              <li><span class="brend">Экстракты водяной лилии, хмеля, мелиссы, алоэ
                и розмарина – </span>увлажняют, смягчают, нормализуют
                микроциркуляцию и устраняют покраснение кожи.</li>
              <li><span class="brend">Бета-глюкан – </span>оказывает заживляющее,
                противовоспалительное и увлажняющее действие,
                эффективно устраняет покраснения и раздражения
                кожи, повышая ее иммунитет.</li>
            </ul>
      
            <p>
              Для любого типа кожи Использовать ежедневно или по необходимости утром и/или вечером.
              Выравнивает рН и тонизирует кожу.
              Идеальное средство для восстановления кожи после солнца и травмирующих процедур.
              Комфортный продукт для ухода за мужской кожей после бритья или в зимнее время.
              Поверх сыворотки возможно нанесение крема из линии MYBIOGEN.
            </p>

        </div>
      </div>
    </div>

    <div id="card_4_win" class="popup">
      <div class="popup__body">
        <div class="popup__contenr">

          <a href="#products" class="popup__clouse">Х</a>

          <h1><span class="red">Face Serum </span>DNA Wellness
            Пептидная сыворотка для лица DNA Wellness, <span class="art">30 мл, арт.: 00611 </span></h1>
            <p>
              Мультипептидная гель-сыворотка для омоложения и предупреждения старения кожи. Способствует
              ускорению восстановления поврежденных ДНК клеток кожи, тем самым замедляя появление
              озрастных изменений. Обеспечивает уплотнение и увлажнение кожи, интенсивно регенерирует
              и тонизирует ее, оказывает антиоксидантное действие. Сыворотка эффективно борется с
              мимическими и физиологическими морщинами, значительно улучшает структуру кожи и благотворно
              воздействуют на ее микробиом. Кожа становится более гладкой, наполненной и сияющей.
            </p>
            <p class="brend">
              Мультипептидный комплекс
              Восстановление ДНК и структурной целостности кожи
              Уплотнение и увлажнение кожи
            </p>

            <ul>
              <li class="brend">Действующие компоненты:</li>
              <li><span class="brend">Ниацинамид – </span>форма витамина В3. Улучшает
                микроциркуляцию, оказывает противовоспалительное
                действие, способствует устранению повреждений ДНК.</li>
              <li><span class="brend">Аденозин – </span> источник энергии, способствует ускорению
                восстановления ДНК кожи, замедляя клеточное старение
                кожи.</li>
              <li><span class="brend">Acetyl Hexapeptide-8 –  </span>пептид-миорелаксант, заметно
                уменьшает выраженность мимических морщин.</li>
              <li><span class="brend">sh-Oligopeptide-1 – </span>пептид, способствующий заживлению
                ран и обновлению кожи. Уменьшает выраженность морщин,
                выравнивает микрорельеф, уменьшает размер пор и
                нормализует пигментацию кожи.</li>
              <li><span class="brend">sh-Oligopeptide-2, sh-Decapeptide-9, sh-Octapeptide-4,
                Pentapeptide-37, sh-Polypeptide-4, sh-Polypeptide-11 – </span>сигнальные пептиды с накопительным эффектом.
                Стимулируют синтез коллагена, эластина и гиалуроновой
                кислоты, способствуя уплотнению кожи и обеспечивая ее
                естественное увлажнение. </li>
            </ul>
      
            <p>
              Для любого типа кожи. Использовать утром и/или вечером.
              Выравнивает рН и тонизирует кожу.
              Идеальное средство для интенсивного восстановления и профилактики преждевременного старения кожи.
              Требуется курсовое использование. В зависимости от решаемой проблемы длина курса варьируется от 1 до 3 месяцев.
              Поверх сыворотки возможно нанесение крема из линии MYBIOGEN.
            </p>

        </div>
      </div>
    </div>

    <div id="card_5_win" class="popup">
      <div class="popup__body">
        <div class="popup__contenr">

          <a href="#products" class="popup__clouse">Х</a>

          <h1><span class="green">Face Cream </span>BASE
            Увлажняющий крем для лица BASE, <span class="art">50 мл, арт.: 00612 </span></h1>
            <p>
              Базовый увлажняющий крем для кожи лица. Способствует восстановлению и поддержанию ее
              оптимального водного баланса, укрепляет коллагеновый каркас, придавая плотность и упругость.
              Улучшает качество кожи, успокаивает и смягчает ее, устраняет воспаления, шелушения и раздражения. 
            </p>
            <p class="brend">
              8 незаменимых для кожи аминокислот
              8 растительных экстрактов
              Защищает от агрессии внешней среды
              Идеальная основа под макияж
            </p>

            <ul>
              <li class="brend">Действующие компоненты:</li>
              <li><span class="brend">Глицин, Аланин, Пролин, Серин, Треонин, Аргинин,
                Лизин, Глутаминовая кислота – </span>способствуют
                восстановлению и поддержанию оптимального водного
                баланса кожи. Являются необходимыми составляющими
                для синтеза белка (коллаген и эластин). Укрепляют
                каркас кожи, придавая ей плотность и упругость,
                участвуют в восстановлении ДНК.</li>
              <li><span class="brend">Комплекс из 8 растительных экстрактов
                (алоэ, корня солодки, фенхеля, хмеля, мелиссы, омелы,
                ромашки) и аллантоин – </span>успокаивают, регенерируют и
                обеспечивает дополнительное увлажнение, улучшают
                качество кожи.
                </li>
              <li><span class="brend">Palmitoyl Tripeptide-8 – </span>пептид, нормализует порог
                чувствительности кожи, подавляет воспаления и
                уменьшает проницаемость сосудов.</li>
              <li><span class="brend">Гиалуронат натрия – </span>производное гиалуроновой кислоты,
                обладающее эффектом мгновенного заполнения
                морщин.</li>
            </ul>
      
            <p>
              Для любого типа кожи. Использовать утром и/или вечером.
              Является оптимальным средством для ежедневного ухода, обеспечивающим основные потребности кожи.
              Крем не комедогенен.
            </p>

        </div>
      </div>
    </div>

    <div id="card_6_win" class="popup">
      <div class="popup__body">
        <div class="popup__contenr">

          <a href="#products" class="popup__clouse">Х</a>

          <h1><span class="red">Face Cream </span>DNA Repair
            Anti-age крем для лица DNA Repair, <span class="art">50 мл, арт.: 00613 </span></h1>
            <p>
              Омолаживающий крем интенсивного действия для ежедневного ухода. Активно стимулирует
              восстановление ДНК клеток кожи и предотвращает ее дальнейшее повреждение, тем самым
              уменьшая выраженность морщин и признаков старения. Крем увлажняет и регенерирует кожу,
              препятствует фотостарению, стимулируя активность антиоксидантных ферментов. Кожа становится
              более упругой, наполненной, подтянутой и сияющей.
            </p>
            <p class="brend">
              9 незаменимых для кожи аминокислот
              2 коллагенобразующих пептида
              Интенсивное омоложение
              Восстановление ДНК и структурной
              целостности кожи
            </p>

            <ul>
              <li class="brend">Действующие компоненты:</li>
              <li><span class="brend">Adenosine Triphosphate – </span>энергия для ускорения
                реакций восстановления ДНК и стимуляции активности
                антиоксидантной защиты</li>
              <li><span class="brend">Глицин, Аланин, Пролин, Серин, Треонин, Аргинин, Лизин,
                Глутаминовая кислота, Ацетилтирозин и Гидролизованный
                белок – </span>– прекурсоры синтеза коллагена и эластина.
                Способствуют восстановлению и поддержанию оптимального
                водного баланса кожи, участвуют в восстановлении ДНК кожи.</li>
              <li><span class="brend">3 вида меристемальных клеток (растительные стволовые
                клетки яблок, винограда и альпийской розы) – </span>повышают
                жизнеспособность собственных стволовых клеток кожи,
                стимулируют ее обновление и регенерацию. Уменьшают
                глубину морщин, выравнивают и увлажняют кожу.</li>
              <li><span class="brend">Palmitoyl Oligopeptide и Palmitoyl Tetrapeptide-7 – </span>пептиды,
                нормализуют деление клеток, синтез коллагена, эластина
                и гиалуроновой кислоты, тем самым повышают плотность и
                эластичность кожи, способствуют укреплению каркаса кожи,
                уменьшая выраженность морщин и препятствуя их появлению.</li>
              <li><span class="brend">Сквалан, масло ши и бурити – </span>укрепляют водно-липидную
                мантию кожи, питают, смягчают и делают кожу эластичной.
                Обеспечивают более глубокое проникновение активных
                компонентов в кожу</li>
            </ul>
      
            <p>
              Для любого типа кожи. Использовать утром и/или вечером.
              Идеальное средство для борьбы с возрастными изменениями кожи.
              Требуется курсовое использование. В зависимости от решаемой проблемы длина курса варьируется от 1 месяца до 3
              месяцев.
              Рекомендуется совместное использование крема и сыворотки из MYBIOGEN.
            </p>

        </div>
      </div>
    </div>

    <div id="card_7_win" class="popup">
      <div class="popup__body">
        <div class="popup__contenr">

          <a href="#products" class="popup__clouse">Х</a>

          <h1><span class="green">Face Cream </span>MultiLamellar
            Питательный крем для лица MultiLamellar, <span class="art">50 мл, арт.: 00614 </span></h1>
            <p>
              Мультиламеллярный крем для восстановления рогового слоя эпидермиса. Способствует
              удержанию влаги в коже и препятствует ее потере. Ламеллы, из которых состоит основа крема,
              «протаскивают» активные ингредиенты в глубокие слои дермы, что позволяет им работать с
              «живой кожей», обеспечивая максимальный эффект. Глубоко питает кожу и насыщает жизненной
              энергией, способствует уплотнению и укреплению. Крем уменьшает выраженность мимических
              и физиологических морщин, оказывает антиоксидантное действие. Кожа становится более
              шелковистой, гладкой, упругой и сияющей.
            </p>
            <p class="brend">
              Аминокислоты, пептиды
              и растительные экстракты
              Эффект «второй кожи»
              Ботулоподобное действие
            </p>

            <ul>
              <li class="brend">Действующие компоненты:</li>
              <li><span class="brend">Carnosine – </span>регулирует активность ферментов
                и подавляет оксидативный стресс.</li>
              <li><span class="brend">Glutathione – </span>пептид с мощными антиоксидантными свойствами.
                Препятствует синтезу меланина, выравнивает тон кожи, осветляет и
                усиливает ее сияние.</li>
              <li><span class="brend">Copper Tripeptide-1 – </span>пептид, стимулирует заживление ран, активирует
                иммунные клетки, оказывает противовоспалительное действие,
                стимулирует синтез коллагена и гликозаминогликана в коже.
                Нормализует деление клеток кожи и рост кровеносных сосудов.</li>
              <li><span class="brend">Acetyl Hexapeptide-8 – </span>– пептид-миорелаксант, заметно уменьшает
                выраженность мимических морщин.
                </li>
              <li><span class="brend">Oligopeptide-32 и Oligopeptide-29 – </span>способствуют глубокому
                увлажнению кожи и длительно оптимизируют баланс влаги, ускоряют
                заживление поврежденной и раздраженной кожи, стимулируют
                синтезирование гиалуроновой кислоты и коллагеновых волокон,
                уменьшают выраженность физиологических морщин.</li>
              <li><span class="brend">Экстракт Центеллы Азиатской – </span>улучшает микроциркуляцию и тон
                кожи, препятствует появлению купероза и пигментации, замедляет
                старение кожи из-за оксидативного стресса.</li>
              <li><span class="brend">Гиалуронат натрия – </span>производное гиалуроновой кислоты,
                обладающее эффектом мгновенного заполнения морщин.</li>
              <li><span class="brend">Аллантоин – </span>успокаивает, регенерирует и улучшает качество кожи.</li>
            </ul>
      
            <p>
              Рекомендуется для сухой, шелушащейся, обезвоженной и чувствительной кожи. Использовать утром и/или вечером.
              Может использоваться в зимнее время в качестве восстанавливающего крема.
              Рекомендуется совместное использование крема и сыворотки из MYBIOGEN.
            </p>

        </div>
      </div>
    </div>

    <div id="card_8_win" class="popup">
      <div class="popup__body">
        <div class="popup__contenr">

          <a href="#products" class="popup__clouse">Х</a>

          <h1><span class="green">Eye Cream </span>Cold Coffee
            Крем для кожи вокруг глаз Cold Coffee, <span class="art">15 мл, арт.: 00615 </span></h1>
            <p>
              Специальный крем для кожи вокруг глаз с эффектом дренажа и уплотнения на основе кофеина,
              пептидов и растительных экстрактов. Улучшает микроциркуляцию, уменьшает отечность области
              вокруг глаз и увлажняет кожу. Крем разглаживает «гусиные лапки», делает взгляд более молодым и
              открытым. 
            </p>
            <p class="brend">
              Кофеин
              6 необходимых функциональных пептидов
              «Сенсорный» крем
              Устраняет отечность и темные круги под
              глазами
            </p>

            <ul>
              <li class="brend">Действующие компоненты:</li>
              <li><span class="brend">Кофеин </span>обладает дренажным эффектом, выводит лишнюю жидкость, улучшает
                микроциркуляцию и уменьшает отечность области вокруг глаз. Тонизирует
                сосуды, укрепляет клеточные мембраны и ускоряет расщепление жиров,
                обеспечивая дополнительный Anti-Puffiness эффект</li>
              <li><span class="brend">Acetyl Hexapeptide-8 – </span>пептид-миорелаксант эффективно снимает гиперспазм
                области вокруг глаз, разглаживает «гусиные лапки».</li>
              <li><span class="brend">Carnosine – </span>регулирует активность ферментов и ингибирует оксидативный
                стресс.</li>
              <li><span class="brend">Glutathione – </span> пептид с мощными антиоксидантными свойствами. Препятствует
                синтезу меланина, выравнивает тон кожи, осветляет и усиливает сияние кожи.</li>
              <li><span class="brend">Copper Tripeptide-1 – </span>– действует как сигнальный и несущий пептид,
                стимулирует заживление ран, активирует иммунные клетки, оказывает
                противовоспалительное действие, стимулирует синтез коллагена и
                гликозаминогликана в коже. Нормализует деление клеток кожи и рост
                кровеносных сосудов.</li>
              <li><span class="brend">Oligopeptide-32 и Oligopeptide-29 – </span>способствуют глубокому увлажнению кожи
                и длительно оптимизируют баланс влаги, ускоряют заживление поврежденной
                и раздраженной кожи. Стимулируют синтезирование гиалуроновой кислоты и
                коллагеновых волокон, уменьшают выраженность физиологических морщин</li>
              <li><span class="brend">Экстракт Центеллы Азиатской –  </span> улучшает микроциркуляцию и тон кожи,
                препятствует появлению купероза и пигментации, замедляет старение кожи изза оксидативного стресса.</li>
            </ul>
      
            <p>
              Для любого типа кожи.
              Использовать утром и вечером.
              Незаменимое средство при склонности к появлению отечности и темных кругов под глазами.
              Является идеальной основой под макияж.
            </p>

        </div>
      </div>
    </div>


    <div id="sent" class="popup info_popup">
      <div class="popup__body">
        <div class="popup__contenr">

          <a href="#contacts" class="popup__clouse">Х</a>

          <h1>Спасибо за обращение</h1>
        </div>
      </div>
    </div>
    




<!-- JavaScript -->

    <script>
      document.getElementById('download').onclick = function(){
        window.open('../static/pdf/booklet_MyBiogen.pdf', '_blank');
      }
    </script>

    <script>
      document.getElementById('open-about').onclick = function(){
        window.location.href = '#about_win'
      }
    </script>

    <script type="importmap">
      {
          "imports": {
              "three": "https://unpkg.com/three@0.139.0/build/three.module.js",
              "OrbitControls": "https://unpkg.com/three@0.139.0/examples/jsm/controls/OrbitControls.js",
              "GLTFLoader": "https://unpkg.com/three@0.139.0/examples/jsm/loaders/GLTFLoader.js",
              "RectAreaLightHelper": "https://unpkg.com/three@0.139.0/examples/jsm/helpers/RectAreaLightHelper.js",
              "RectAreaLightUniformsLib": "https://unpkg.com/three@0.139.0/examples/jsm/lights/RectAreaLightUniformsLib.js"
          }
      }
    </script>

    <script type="module">

      import * as THREE from 'three';
      import { OrbitControls } from 'OrbitControls';
      import { GLTFLoader } from 'GLTFLoader';
      import { RectAreaLightHelper } from 'RectAreaLightHelper'
      import { RectAreaLightUniformsLib } from 'RectAreaLightUniformsLib';

      function init() {
          let container = document.getElementById('CanvasFrame')

          //Scene
          const scene = new THREE.Scene()
          scene.background = new THREE.Color("#FFFFFF");

          //Camera
          const camera = new THREE.PerspectiveCamera(45, 1 / 1.5, 0.1, 300);

          //render
          const renderer = new THREE.WebGLRenderer({antialias: true})
          renderer.setSize(364, 500)
          container.appendChild(renderer.domElement)

          let plain;
          {
              plain = new THREE.Mesh(
                  new THREE.PlaneGeometry(1000, 1000),
                  new THREE.MeshBasicMaterial({color: "#FFFFFF"})
              )
              plain.reciveShadow = true;
              plain.position.set(0, -1, 0)
              plain.rotateX(-Math.PI / 2);
              scene.add(plain)
          }

          // Model
          {
              const loader = new GLTFLoader();
              loader.load('../static/models/model/scene.gltf', gltf => {
              scene.add(gltf.scene);
              }, 
                  function (error) {
                      console.log('Error: ' + error)
                  }
              )
          }
          
          {
              const light = new THREE.DirectionalLight(0x239B9F, 1)
              light.position.set(-2, 0, 10)
              light.lookAt(0, -1, 0)
              scene.add(light)
          }

          RectAreaLightUniformsLib.init();
          {
              const rectLight = new THREE.RectAreaLight(0x239B9F, 1, 100, 100);
              rectLight.position.set(-10,0,0)
              rectLight.rotation.y = Math.PI + Math.PI/4;
              scene.add(rectLight)
          }
          
          //OrbitControls
          const controls = new OrbitControls(camera, renderer.domElement);
          controls.autoRotate = true;
          controls.autoRotateSpeed = 2;
          controls.enableDamping = true;
          camera.position.set( 0, 16, 46 );
          controls.target = new THREE.Vector3(0,16,5)
          controls.maxDistance = controls.minDistance = 46;
          controls.noZoom = true;
          controls.update();

          // Animate
          function animate() {
              requestAnimationFrame(animate)
              controls.update();
              renderer.render(scene, camera)
          }
          animate()

      }

      init()
  </script>

  <script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 3,
      centeredSlides: true,
      simulateTouch: false,
      speed: 500,
      loop: true,
      breakpoints: {
        320: {
          slidesPerView: 1,
        },
        767: {
          slidesPerView: 3,
        }
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  </script>

  </body>
</html>
