<!-- templates/posts/index.html -->
{% load static %}

<!DOCTYPE html> 
<html lang="ru">
  <head>
    <meta charset="URF-8">
    <title>MyBiogen</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

  </head>
  <body>
    <header class="header">
      <div class="main-header">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <img src="{% static 'img/Logo1.png' %}" alt="Logo_MyBiogen"> 
            </div>
            <div class="offset-md-4 col-md-5">
              <nav>
                <ul class="menu d-flex justify-content-between">
                  <li class="menu__item">
                    <a href="#">О бренде</a>
                  </li>
                  <li class="menu__item">
                    <a href="#">продукция</a>
                  </li>
                  <li class="menu__item">
                    <a href="#">контакты</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section class="ofer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <img src="{% static 'img/Slogan1.png' %}" alt="Slogan_MyBiogen">
          </div>
        </div>
      </div>
    </section>

    <section class="about">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="about_text">
              <h1>Бренд MYBIOGEN</h1>
              <p>
                В 2022 году благодаря коллаборации американской лаборатории Biogenesis Lab с российской
                компанией «Фармацевтикал Косметик Рус» – эксклюзивным дистрибьютором продукции
                лаборатории в России, удалось создать бренд «интеллектуального» домашнего ухода за кожей</p>
              <h1>MYBIOGEN By Biogenesis Lab.</h1>
            </div>
            <div class="more">
              <button>Подробнее</button>
            </div>
          </div>

          <div class="col-md-4">
            <div class="3d">
              <div id="CanvasFrame" class="container"></div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="DNA_text">
              <p align="center">
                Для воздействия на структуру ДНК применяется три механизма, которые
                обеспечивают полномасштабную регенерацию дезоксирибонуклеиновой кислоты:
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <ul class="steps d-flex justify-content-between" >
              <li class="srep">
                <img src="{% static 'img/Pre_But.png' %}" alt="Pre_But">
              </li>
              <li class="plus">
                <p>+</p>
              </li>
              <li class="srep">
                <img src="{% static 'img/En_But.png' %}" alt="En_But">
              </li>
              <li class="plus">
                <p>+</p>
              </li>
              <li class="srep">
                <img src="{% static 'img/Kat_But.png' %}" alt="Kat_But">
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section class="products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="carusel_preview_text">
              <h1 align="center">Наша продукция</h1>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="swiper mySwiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="flip-container">
                    <div class="flip">
          
                      <div class="front">
                        <div class="img-container"><img src="{% static 'img/card1.png' %}" alt="Card1_MyBiogen" /></div>
                      </div>
          
                      <div class="back">
                        <p>Cleansing Foam MD
                          Три формы гиалуроновой кислоты
                          22 растительных экстракта
                          Бережное очищение кожи</p>
                          <button>Подробнее</button>
                      </div>
          
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="flip-container">
                    <div class="flip">
          
                      <div class="front">
                        <div class="img-container"><img src="{% static 'img/card1.png' %}" alt="Card1_MyBiogen" /></div>
                      </div>
          
                      <div class="back">
                        <p>Cleansing Foam MD
                          Три формы гиалуроновой кислоты
                          22 растительных экстракта
                          Бережное очищение кожи</p>
                          <button>Подробнее</button>
                      </div>
          
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="flip-container">
                    <div class="flip">
          
                      <div class="front">
                        <div class="img-container"><img src="{% static 'img/card1.png' %}" alt="Card1_MyBiogen" /></div>
                      </div>
          
                      <div class="back">
                        <p>Cleansing Foam MD
                          Три формы гиалуроновой кислоты
                          22 растительных экстракта
                          Бережное очищение кожи</p>
                          <button>Подробнее</button>
                      </div>
          
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="flip-container">
                    <div class="flip">
          
                      <div class="front">
                        <div class="img-container"><img src="{% static 'img/card1.png' %}" alt="Card1_MyBiogen" /></div>
                      </div>
          
                      <div class="back">
                        <p>Cleansing Foam MD
                          Три формы гиалуроновой кислоты
                          22 растительных экстракта
                          Бережное очищение кожи</p>
                          <button>Подробнее</button>
                      </div>
          
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="flip-container">
                    <div class="flip">
          
                      <div class="front">
                        <div class="img-container"><img src="{% static 'img/card1.png' %}" alt="Card1_MyBiogen" /></div>
                      </div>
          
                      <div class="back">
                        <p>Cleansing Foam MD
                          Три формы гиалуроновой кислоты
                          22 растительных экстракта
                          Бережное очищение кожи</p>
                          <button>Подробнее</button>
                      </div>
          
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="flip-container">
                    <div class="flip">
          
                      <div class="front">
                        <div class="img-container"><img src="{% static 'img/card1.png' %}" alt="Card1_MyBiogen" /></div>
                      </div>
          
                      <div class="back">
                        <p>Cleansing Foam MD
                          Три формы гиалуроновой кислоты
                          22 растительных экстракта
                          Бережное очищение кожи</p>
                          <button>Подробнее</button>
                      </div>
          
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="pagination-container">
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>

      </div>
    </section>

    <section class="communication">
      <div class="container form-container">

        <div class="row">
          <div class="col=md-12">
            <div class="form-text">
              <h1>Связаться с нами</hi>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col=md-12">
            <div class="form-obj">

              <form action="#" method="post">
                <div class="user-data">
                  <ul class="fields d-flex justify-content-between">
                    <li class="field">
                      <input type="text" name="username" required placeholder="Ваше имя" />
                    </li>
                    <li class="field">
                      <input type="email" name="email" required placeholder="Ваш email" />
                    </li>
                    <li class="field">
                      <input type="tel" name="tel" required placeholder="Ваш телефон" />
                    </li>
                  </ul>
                </div>

                <div class="user-question">
                  <textarea name="text" required placeholder="Задайте вопрос"></textarea>
                </div>

                <div class="button-block">
                  <ul class="buttins d-flex justify-content-between">
                    <li class="bt">
                      <button type="submit">Отправить</button>
                    </li>
                    <li class="bt">
                      <button>Скачать каталог</button>
                    </li>
                  </ul>
                </div>
              </form>

            </div>
          </div>
        </div>

      </div>
    </section>

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="footer-text">
              <p>ООО «ФАРМАЦЕВТИКАЛ КОСМЕТИК РУС»,
                ул. Новодмитровская, д. 1 с. 1, офис 202.
                </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="footer-text">
              <p>+7(499)110-26-74, sale@phcos.ru
                MYBIOGEN.RU</p>
            </div>
          </div>
        </div>
      </div>
    </footer>

<!-- JavaScript -->

    <script type="importmap">
      {
          "imports": {
              "three": "https://unpkg.com/three@0.139.0/build/three.module.js",
              "OrbitControls": "https://unpkg.com/three@0.139.0/examples/jsm/controls/OrbitControls.js",
              "GLTFLoader": "https://unpkg.com/three@0.139.0/examples/jsm/loaders/GLTFLoader.js",
              "RectAreaLightHelper": "https://unpkg.com/three@0.139.0/examples/jsm/helpers/RectAreaLightHelper.js",
              "RectAreaLightUniformsLib": "https://unpkg.com/three@0.139.0/examples/jsm/lights/RectAreaLightUniformsLib.js"
          }
      }
    </script>
    <script type="module">

      import * as THREE from 'three';
      import { OrbitControls } from 'OrbitControls';
      import { GLTFLoader } from 'GLTFLoader';
      import { RectAreaLightHelper } from 'RectAreaLightHelper'
      import { RectAreaLightUniformsLib } from 'RectAreaLightUniformsLib';

      function init() {
          let container = document.getElementById('CanvasFrame')

          //Scene
          const scene = new THREE.Scene()
          scene.background = new THREE.Color("#FFFFFF");

          //Camera
          const camera = new THREE.PerspectiveCamera(45, 1 / 1.5, 0.1, 300);

          //render
          const renderer = new THREE.WebGLRenderer({antialias: true})
          renderer.setSize(364, 500)
          container.appendChild(renderer.domElement)

          let plain;
          {
              plain = new THREE.Mesh(
                  new THREE.PlaneGeometry(1000, 1000),
                  new THREE.MeshBasicMaterial({color: "#FFFFFF"})
              )
              plain.reciveShadow = true;
              plain.position.set(0, -1, 0)
              plain.rotateX(-Math.PI / 2);
              scene.add(plain)
          }

          // Model
          {
              const loader = new GLTFLoader();
              loader.load('../static/models/model/scene.gltf', gltf => {
              scene.add(gltf.scene);
              }, 
                  function (error) {
                      console.log('Error: ' + error)
                  }
              )
          }
          
          {
              const light = new THREE.DirectionalLight(0x239B9F, 1)
              light.position.set(-2, 0, 10)
              light.lookAt(0, -1, 0)
              scene.add(light)
          }

          RectAreaLightUniformsLib.init();
          {
              const rectLight = new THREE.RectAreaLight(0x239B9F, 1, 100, 100);
              rectLight.position.set(-10,0,0)
              rectLight.rotation.y = Math.PI + Math.PI/4;
              scene.add(rectLight)
          }
          
          //OrbitControls
          const controls = new OrbitControls(camera, renderer.domElement);
          controls.autoRotate = true;
          controls.autoRotateSpeed = 2;
          controls.enableDamping = true;
          camera.position.set( 0, 16, 46 );
          controls.target = new THREE.Vector3(0,16,5)
          controls.maxDistance = controls.minDistance = 46;
          controls.noZoom = true;
          controls.update();

          // Animate
          function animate() {
              requestAnimationFrame(animate)
              controls.update();
              renderer.render(scene, camera)
          }
          animate()

      }

      init()
  </script>

  <script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 3,
      centeredSlides: true,
      simulateTouch: false,
      speed: 500,
      loop: true,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  </script>

  </body>
</html>
